#contact {
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.title {
    margin-top: 30px;
}

.title, .email, .content {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.title:focus {
    outline: none;
    border: 1px solid #1f93ff;
}




.content {
    height: 200px;
}

.submit {
    width: 100px;
    height: 40px;
    background-color: rgb(95, 176, 243);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 마우스 오버시 배경색 전환 */
}

.submit:hover {
    background-color: #007bff;
}
