.input_personal {
    background-color: rgb(245, 245, 245);
    width: 700px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.open_btn {
    background-color: none;
    border: none;    
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.open_btn:hover {
    text-decoration: underline;
}

.open_btn:focus {
    outline: none;
}