div.intro {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
h2 {
    text-align: left;
    border-bottom: 1px solid black;
}
h3 {
    text-align: left;
}
p {
    text-align: left;
}

div.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    max-width: 400px; /* 이미지 크기 조절 */
    height: auto;
}