.personal-list {
    width: 900px;
    background-color: rgb(229, 229, 229);
    border-radius: 15px;
    margin: 0 auto;
}

.personal-list .list-heading {
    margin-bottom: 10px;
    border: none;
    box-sizing: border-box;
    padding-top: 15px;
}

.list-count {
    text-align: left;
    padding: 10px 15px ;
}

.personal-list .list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.personal-list .list-count {
    border-bottom: 1px solid #1f93ff;;
}