body{
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
}

.search-intro {
    display: inline-block;
}

.no-border {
    border-bottom: none
}

.medi-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.medicine {
    background-color: #deedf77e;
    padding: 15vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.medicine-info {
    margin-bottom: 50px;
}

.medicine-info span {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
    color: #0056b3;
}

.medicine-info input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.medi_btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(95, 176, 243);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
}

.medi_btn:hover {
    background-color: #0056b3;
}

.search-pic {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 50px;
    font-size: 13px;
    color:  #333;
}

.search-pic:hover {
    color: #0056b3;
    cursor: pointer;
}


.result {
    display: inline-block;
    margin-bottom: 10%;
}

/* 표 디자인 */

/* 표 전체 스타일 */
table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* 표 헤더 스타일 */
  th {
    background-color: rgb(95, 176, 243);
    padding: 10px;
    text-align: center;
    color: white;
  }


/* 표 셀 스타일 */
 td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  /* 짝수 행 배경색 */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  /* 행 선택시 */
  tr:hover {
    background-color: #f2f2f2;
  }

  #alertMessage {
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* 옵션 요소의 기본 스타일 */
option {
    background-color: rgb(204, 230, 239);
    color: black;
    font-size: 16px;
    text-align: center;
    /* font-weight: bold; */
}

/* 선택된 옵션 요소의 스타일 */
option:checked {
    background-color:rgb(95, 176, 243);
    color: white;
    font-weight: bold;
}

/* span 문구 스타일링 */
#selectcity {
    font-size: 20px; /* 텍스트 크기 조정 */
    font-weight: bold; /* 굵은 글꼴 적용 */
    color: #333; /* 글자색 변경 */
    margin-bottom: 10px; /* 아래 여백 추가 */
    display: block; /* 블록 레벨 요소로 변환 */
}