h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
    padding-bottom: 20px;
}

.no-border {
    border-bottom: none !important;
}

.medi-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.medicine {
    background-color: #fff;
    padding: 20vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}