table {
    border-collapse: collapse;
    width: 600px;
    margin: 20px auto;
}

tr {
    height: 50px;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* 라디오 버튼 및 체크 박스 레이블 스타일링 */
label {
    font-size: 14px;
    cursor: pointer;
}

.personal_btn {
    background-color: #5fb0f3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.personal_btn:hover {
    background-color: #4692e9; /* 바꾸고자 하는 배경 색상으로 변경 */
    color: black;
}
